

.toplogo {
    color: #000;
    font-family: Satisfy, cursive;
    font-weight: 500;
    font-size: 60px;
}

.bottomlogo {
    color: #000;
    font-family: Satisfy, cursive;
    font-weight: 500;
    font-size: 35px;
}
